body{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
}
.container{
    display: grid;
    align-items: center;
}

.myGrid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

}
.square{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    border: 3px yellow solid;
    display: grid;
    place-items: center;
}

.square p{
    font-size: xx-large;
    font-weight: bold;
}

.backForm{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input{
    width:150px;

}