@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Work Sans', sans-serif;
}

body{
    width: 100vw;
    display: grid;
    grid-template-columns: clamp(400px, 600px, 70%);
    justify-content: center;
}
.container{
    display: grid;
    align-items: center;
    grid-template-rows: 150px 1fr;
}

.myGrid{
    display: grid;
    width: 90%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
}
.square{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 3px black solid;
    display: grid;
    place-items: center;
}

.square p{
    font-size: -webkit-xxx-large;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.backForm{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

form{
    border-radius: 1rem;
}

.formNames{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: linen;
}
.formAgain{
    display: none;
    visibility: hidden;
    flex-direction: column;
    padding: 50px;
    background-color: linen;
}
legend{
    margin-bottom: 30px;
    font-size: xx-large;
}
input{
    margin-bottom: 20px;
    height: 1.8rem;
    padding-left: 10px;
    border-radius: .5rem;
    border: 2px white solid;
    font-size: large;
}

label{
    margin-bottom: 5px;
    font-size: larger;
}
button{
    color: black;
    height: 2.5rem;
    border-radius: .5rem;
    border: none;
    background-color: white;
    font-size: large;
}
button:hover{
    background-color: rgb(245, 245, 245);
}
.buttonHolder{
    display: flex;
    flex-direction: column;
    gap:15px
}
.outcome{
    text-align: center;
    font-size: -webkit-xxx-large;
}